<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.mad.admini">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".tournaments.tournament.one"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tournaments.tournament.login"
            android:label="Welcome" />
        <activity
            android:name=".tournaments.tournament.MainActivity"
            android:label="Tournaments"
            android:parentActivityName=".tournaments.tournament.login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".tournaments.tournament.TournamentList"
            android:label="Tournaments"
            android:parentActivityName=".tournaments.tournament.MainActivity" />
        <activity
            android:name=".tournaments.tournament.addTournamentDetails"
            android:label="Add Tournament"
            android:launchMode="singleTop"
            android:parentActivityName=".tournaments.tournament.TournamentList" />
        <activity
            android:name=".tournaments.tournament.viewForTwo"
            android:label="Add Details"
            android:launchMode="singleTop"
            android:parentActivityName=".tournaments.tournament.addTournamentDetails" />

        <activity
            android:name=".tournaments.tournament.aMatchDetails"
            android:label="Match Details"
            android:launchMode="singleTop"
            android:parentActivityName=".tournaments.tournament.viewForTwo" />
        <activity
            android:name=".tournaments.tournament.aTLUDetails"
            android:label="Team Line-Up Details"
            android:launchMode="singleTop"
            android:parentActivityName=".tournaments.tournament.viewForTwo" />

        <activity
            android:name=".tournaments.tournament.addUnMatch"
            android:label="Match Details"
            android:parentActivityName=".tournaments.tournament.aMatchDetails" />
        <activity
            android:name=".tournaments.tournament.addUnTLU"
            android:label="Team Line-Up Details"
            android:parentActivityName=".tournaments.tournament.aTLUDetails" />

        <activity
            android:name=".tournaments.tournament.viewTournament"
            android:label="View Details"
            android:launchMode="singleTop"
            android:parentActivityName=".tournaments.tournament.TournamentList" />

        <activity
            android:name=".tournaments.tournament.vTournamentDetails"
            android:label="Tournament Details"
            android:parentActivityName=".tournaments.tournament.viewTournament" />
        <activity
            android:name=".tournaments.tournament.vMatchDetails"
            android:label="Match Details"
            android:launchMode="singleTop"
            android:parentActivityName=".tournaments.tournament.viewTournament" />
        <activity
            android:name=".tournaments.tournament.vTLUDetails"
            android:label="Team Line-Up"
            android:launchMode="singleTop"
            android:parentActivityName=".tournaments.tournament.viewTournament" />

        <activity android:name=".tournaments.tournament.vUnTLU"
            android:label="Match Details"
            android:parentActivityName=".tournaments.tournament.vTLUDetails" />
        <activity
            android:name=".tournaments.tournament.vUnMatch"
            android:label="Team Line-Up"
            android:parentActivityName=".tournaments.tournament.vMatchDetails" />


        <activity android:name=".tournaments.tournament.howzaat.tournamentsUI"
            android:label="Tournaments"
            android:parentActivityName=".tournaments.tournament.UserHome"
            android:theme="@style/AppThemeU"/>
        <activity
            android:name=".tournaments.tournament.howzaat.matchUI"
            android:label="Matches"
            android:parentActivityName=".tournaments.tournament.UserHome"
            android:theme="@style/AppThemeU" />





        <activity android:name=".tournaments.tournament.stadiumAdd" />
        <activity android:name=".tournaments.tournament.stadiumEdit" />
        <activity android:name=".tournaments.tournament.countryStadium" />
        <activity android:name=".tournaments.tournament.AdminStadium" />
        <activity
            android:name=".tournaments.tournament.MerchAdd"
            android:label="Add Merchandise"
            android:parentActivityName=".tournaments.tournament.MerchList" />
        <activity
            android:name=".tournaments.tournament.MerchEdit"
            android:label="Edit Merchandise Details"
            android:parentActivityName=".tournaments.tournament.TicketList" />
        <activity
            android:name=".tournaments.tournament.MerchList"
            android:label="Merchandise"
            android:parentActivityName=".tournaments.tournament.MainActivity" />
        <activity android:name=".tournaments.tournament.MerchList_cardView" />
        <activity
            android:name=".tournaments.tournament.TicketAdd"
            android:label="Add Tickets"
            android:parentActivityName=".tournaments.tournament.TicketList" />
        <activity
            android:name=".tournaments.tournament.TicketEdit"
            android:label="Edit Tickets Details"
            android:parentActivityName=".tournaments.tournament.TicketList" />
        <activity
            android:name=".tournaments.tournament.TicketList"
            android:label="Tickets"
            android:parentActivityName=".tournaments.tournament.MainActivity" />
        <activity android:name=".tournaments.tournament.ticketList_cardView" />
        <activity android:name=".tournaments.tournament.UserHome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
        <activity
            android:name=".tournaments.tournament.UserMerchList"
            android:label="Merchandise"
            android:parentActivityName=".tournaments.tournament.UserShop"
            android:theme="@style/AppThemeU" />
        <activity
            android:name=".tournaments.tournament.UserTicket_matchList"
            android:label="Upcoming Matches"
            android:parentActivityName=".tournaments.tournament.UserShop"
            android:theme="@style/AppThemeU" />
        <activity
            android:name=".tournaments.tournament.UserTicketListView"
            android:label="Tickets"
            android:parentActivityName=".tournaments.tournament.UserTicket_matchList"
            android:theme="@style/AppThemeU" />
        <activity
            android:name=".tournaments.tournament.userTicketCardView"
            android:label="Tickets"
            android:parentActivityName=".tournaments.tournament.UserTicket_matchList"
            android:theme="@style/AppThemeU"/>
        <activity
            android:name=".tournaments.tournament.user_payment"
            android:label="Payment"
            android:theme="@style/AppThemeU" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <activity android:name=".tournaments.tournament.UserShop"></activity>
        <activity android:name=".tournaments.tournament.AdminNationalTeamList" />
        <activity android:name=".tournaments.tournament.AdminUpdateDeleteTeam" />
        <activity android:name=".tournaments.tournament.AdminAddNewTeam" />
        <activity android:name=".tournaments.tournament.NationalTeams" />
        <activity android:name=".tournaments.tournament.UserTeamCategoty" />
        <activity android:name=".tournaments.tournament.SriLankaNatTeamPlayers" />
        <activity android:name=".tournaments.tournament.UserStadiumDetails" />
        <activity android:name=".tournaments.tournament.UserStadiumCountry" />
        <activity android:name=".tournaments.tournament.UserStadium" />

        <activity
            android:name=".tournaments.tournament.PlayerList"
            android:label="Players"
            android:parentActivityName=".tournaments.tournament.AdminNationalTeamList" />
        <activity
            android:name=".tournaments.tournament.PlayerList_cardView"
            android:label="Players"
            android:parentActivityName=".tournaments.tournament.AdminNationalTeamList" />
        <activity
            android:name=".tournaments.tournament.PlayerProfileAdd"
            android:label="Add Players"
            android:parentActivityName=".tournaments.tournament.PlayerList" />
        <activity
            android:name=".tournaments.tournament.PlayerProfileEdit"
            android:label="Add Players"
            android:parentActivityName=".tournaments.tournament.PlayerList" />
        <activity
            android:name=".tournaments.tournament.AdminCalculatePlayer"
            android:label="Add Players"
            android:parentActivityName=".tournaments.tournament.PlayerList" />



    </application>

</manifest>