<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.mad.admini">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

    <activity
        android:name=".tournaments.tournament.MainActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>


        <activity
            android:name=".tournaments.tournament.TournamentList"
            android:label="Tournaments"
            android:parentActivityName=".tournaments.tournament.MainActivity" />

            <activity
                android:name=".tournaments.tournament.addTournamentDetails"
                android:label="Add Tournament"
                android:parentActivityName=".tournaments.tournament.TournamentList" />
            <activity
                android:name=".tournaments.tournament.viewTournament"
                android:label="View Details"
                android:parentActivityName=".tournaments.tournament.TournamentList" />

                <activity
                    android:name=".tournaments.tournament.viewForTwo"
                    android:label="Add Details"
                    android:parentActivityName=".tournaments.tournament.addTournamentDetails"/>
                <activity
                    android:name=".tournaments.tournament.vTournamentDetails"
                    android:label="Tournament Details"
                    android:parentActivityName=".tournaments.tournament.viewTournament" />
                <activity
                    android:name=".tournaments.tournament.vMatchDetails"
                    android:label="Match Details"
                    android:parentActivityName=".tournaments.tournament.viewTournament" />
                <activity
                    android:name=".tournaments.tournament.vTLUDetails"
                    android:label="Team Line-Up"
                    android:parentActivityName=".tournaments.tournament.viewTournament"  />
        <activity
            android:name=".tournaments.tournament.aMatchDetails"
            android:label="Match Details"
            android:parentActivityName=".tournaments.tournament.viewForTwo"  />





        <activity android:name=".tournaments.tournament.vUnTLU" />
        <activity android:name=".tournaments.tournament.vUnMatch" />

    </application>

</manifest>